@font-face {
    font-family: 'Major';
    src: url('/assets/fonts/Major_Mono_Display/MajorMonoDisplay-Regular.ttf');
}
@font-face {
    font-family: 'Nanum';
    src: url('/assets/fonts/Nanum_Gothic_Coding/NanumGothicCoding-Regular.ttf');
    font-weight: normal;
}
/* @font-face {
    font-family: 'NanumB';
    src: url('/assets/fonts/Nanum_Gothic_Coding/NanumGothicCoding-Bold.ttf');
    font-weight: bold;
} */

@-webkit-keyframes fade-swipe {
  0%{background-position:0% 60%}
  50%{background-position:100% 41%}
  100%{background-position:0% 60%}
}
@-moz-keyframes fade-swipe {
  0%{background-position:0% 60%}
  50%{background-position:100% 41%}
  100%{background-position:0% 60%}
}
@-o-keyframes fade-swipe {
  0%{background-position:0% 60%}
  50%{background-position:100% 41%}
  100%{background-position:0% 60%}
}
@keyframes fade-swipe {
  0%{background-position:0% 60%}
  50%{background-position:100% 41%}
  100%{background-position:0% 60%}
}

@-webkit-keyframes ctaButton {
  0%{background-position:99% 0%}
  50%{background-position:2% 100%}
  100%{background-position:99% 0%}
}
@-moz-keyframes ctaButton {
  0%{background-position:99% 0%}
  50%{background-position:2% 100%}
  100%{background-position:99% 0%}
}
@keyframes ctaButton {
  0%{background-position:99% 0%}
  50%{background-position:2% 100%}
  100%{background-position:99% 0%}
}

.cta{
padding: 20px;
border-radius: 3px;
background: linear-gradient(224deg, #00ff00, #purple);
background-size: 400% 400%;
-webkit-animation: ctaButton 3s ease infinite;
-moz-animation: ctaButton 3s ease infinite;
animation: ctaButton 3s ease infinite;
}


body{
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: 'Nanum', Arial, Helvetica, sans-serif;
  font-weight: normal;
  background: linear-gradient(262deg, #c7ffc7, #cdff57);
  
  -webkit-animation: fade-swipe 60S ease infinite;
  -moz-animation: fade-swipe 60S ease infinite;
  -o-animation: fade-swipe 60S ease infinite;
  animation: fade-swipe 60S ease infinite;
  

}
