@font-face {
    font-family: 'Major';
    src: url('/assets/fonts/Major_Mono_Display/MajorMonoDisplay-Regular.ttf');
}
@font-face {
    font-family: 'Nanum';
    src: url('/assets/fonts/Nanum_Gothic_Coding/NanumGothicCoding-Regular.ttf');
    font-weight: normal;
}
/* @font-face {
    font-family: 'NanumB';
    src: url('/assets/fonts/Nanum_Gothic_Coding/NanumGothicCoding-Bold.ttf');
    font-weight: bold;
} */

@-webkit-keyframes AnimationName {
  0%{background-position:0% 60%}
  50%{background-position:100% 41%}
  100%{background-position:0% 60%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 60%}
  50%{background-position:100% 41%}
  100%{background-position:0% 60%}
}
@-o-keyframes AnimationName {
  0%{background-position:0% 60%}
  50%{background-position:100% 41%}
  100%{background-position:0% 60%}
}
@keyframes AnimationName {
  0%{background-position:0% 60%}
  50%{background-position:100% 41%}
  100%{background-position:0% 60%}
}

body{
  margin: 0px;
  padding: 40px;
  height: 100%;
  font-family: 'Nanum', Arial, Helvetica, sans-serif;
  font-weight: normal;
  background: linear-gradient(262deg, #c7ffc7, #cdff57);
  background-size: 400% 400%;
  
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  -o-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
  

}
